/*CHILD
.navbar-default {
    height: 100px;
}*/

.margin {
    margin-top: 500px;
}

.navbar {
    margin: 0px;
}

.nav-loginform {
	padding: 20px;
	width: 300px;
}

#create-acount {
	color: black;
} 

.half-margin-top {
    margin-top:15px;
}

.inline-block {
    display: inline-block;
}

footer p a .footer-links {
	line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

@media (min-width:750px) {
    .navbar-default {
    	border-radius: 0px;
    	background-color: #222222;
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #222;
        padding: 0px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

@media (min-width:1200px), (min-width:768px) and (max-width:991px)  {

    .portfolio-link {
        background-color: #555;
        vertical-align: middle;
    }

    .portfolio-link.normal-size {
        width:360px;
        height:260px;
    }

    .portfolio-link.normal-size img {
        max-width: 360px;
        max-height:260px;
        margin:0 auto;
    }

    .portfolio-link.small-size {
        width:230px;
        height:166px;
    }

    .portfolio-link.small-size img {
        max-width: 230px;
        max-height:166px;
        margin:0 auto;
    }

    .portfolio-link.mini-size {
        width:150px;
        height:108px;
    }

    .portfolio-link.mini-size img {
        max-width: 150px;
        max-height:108px;
        margin:0 auto;
    }

}

@media (min-width:992px) and (max-width:1199px) {

    .portfolio-link {
        background-color: #555;
        vertical-align: middle;
    }

    .portfolio-link.normal-size {
        width:293px;
        height:212px;
    }

    .portfolio-link.normal-size img {
        max-width: 293px;
        max-height:212px;
        margin:0 auto;
    }

    .portfolio-link.small-size {
        width:186px;
        height:134px;
    }

    .portfolio-link.small-size img {
        max-width: 186px;
        max-height:134px;
        margin:0 auto;
    }

    .portfolio-link.mini-size {
        width:117px;
        height:84px;
    }

    .portfolio-link.mini-size img {
        max-width: 117px;
        max-height:84px;
        margin:0 auto;
    }

}