<div class="container">
	<div class="row">
		<div class="col-xs-12">
				<div class="adBox">
					<h2>{{ad.title}}</h2>
					<p>{{ad.content}}</p>
					<p>Publicerad {{ad.dateCreated}}</p>
					<p>Typ av annons {{ad.type}}</p>
				</div>
		</div>
	</div>
</div>