<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form action="" method="get">
				<input type="text" class="form-control" name="search">
				<button type="submit" class="btn btn-default">Sök</button>
			</form>
		</div>
	</div>


	{% if search %}
		Träffar på {{search}}
	{% endif %}	

	<div class="row">
		<div class="col-xs-12">
			{% for ad in ads %}
				<div class="adListBox">
					<p><a href="?id={{ad.id}}">{{ad.title}}</a></p>
					<p>{{ad.dateCreated}}</p>
				</div>
			{% endfor %}	
		</div>
	</div>
</div>