   <section id="portfolio" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hej {{user.firstName}}</h2>
                    {%
                        set correctNumbers = [
                            'noll',
                            'ett', 
                            'två',
                            'tre',
                            'fyra',
                            'fem',
                            'sex',
                            'sju',
                            'åtta',
                            'nio',
                            'tio',
                            'elva',
                            'tolv'
                        ]
                    %}
                    {% if user.no_of_ads == 0 %}
                        <p class="light-gray">Du har inte publicerat någon annons än.</p>
                    {% elseif user.no_of_ads == 1 %}
                        <p class="light-gray">Du har publicerat annons sedan du startade ditt konto.</p>
                    {% elseif user.no_of_ads > 1 and user.no_of_ads <= 12 %}
                        <p class="light-gray">Du har publicerat {{correctNumbers[user.no_of_ads]}} annonser sedan du startade ditt konto.</p>
                    {% elseif user.no_of_ads > 11 %}
                        <p class="light-gray">Du har publicerat {{user.no_of_ads}} annonser sedan du startade ditt konto.</p>
                    {% endif %}

                    {% if user.premium %}
                        <h3 class="section-subheading text-muted"><a href="/ads/newadform">Sätt igång och skapa en ny!</a></h3>
                
                    {% elseif user.no_of_ads < 3 and user.premium == false %}
                        <h3 class="section-subheading text-muted"><a href="/ads/newadform">Sätt igång och skapa en ny!</a></h3>
                        <div>
                            <a href="premiumform" class="btn btn-primary">Uppgradera ditt konto</a>
                        </div>
                    {% else %}
                        Du har använt alla dina gratisannonser. Uppgradera ditt konto till Premium för kunna lägga in fler annonser.
                        <div>
                            <a href="premiumform" class="btn btn-primary">Uppgradera ditt konto</a>
                        </div>
                    {% endif %}
                 </div>
            </div>

		</div>
    </section>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            {% if ads %}
                {% include "user.ads.twig" %}
            {% endif %}
        </div>
    </section>
    
    