   <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hej {{user.firstName}}</h2>
                    <h3>H채r 채r alla dina annonser</h3>
                    <h3 class="section-subheading text-muted"><a href="/ads/newadform">S채tt ig책ng och skapa en ny!</a></h3>
                </div>
            </div>
		
			{% if ads %}
				{% include "user.ads.twig" %}
			{% else %}
				Du har inga annonser... <a href="/ads/newadform">Skapa ny annons</a>
			{% endif %}	

</div>
</section>